<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/mensajesas/public/css/style.css">
</head>
<body>
    <h1>Bienvenido al Tablero de Mensajes</h1>
    <div id="messages"></div>
    <form id="messageForm">
        <input type="text" id="message" placeholder="Escribe un mensaje..." required>
        <button type="submit">Enviar</button>
    </form>
    <button id="logout">Cerrar Sesión</button>
    

    <form id="messagemqtt">
        <label for="mqttServer">Servidor Mosquitto:</label>
        <input type="text" id="mqttServer" value="localhost" required>
        <input type="text" id="mqttMessage" placeholder="Escribe un mensaje..." required>
        <button type="submit">Enviar MQTT</button>
    </form>
    <script src="/mensajesas/public/js/script.js"></script>
</body>
</html>
