<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <script src="/public/js/script.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form id="loginForm">
        <label for="loginUsername">Usuario:</label><br>
        <input type="text" id="loginUsername" name="loginUsername" required><br><br>
    
        <label for="loginPassword">Contraseña:</label><br>
        <input type="password" id="loginPassword" name="loginPassword" required><br><br>
    
        <input type="submit" value="Iniciar Sesión">
    </form>
    <h1>Registro</h1>
    <!-- Formulario de registro -->
    <form id="registerForm">
        <label for="registerUsername">Usuario:</label>
        <input type="text" id="registerUsername" name="registerUsername" required><br><br>
    
        <label for="registerPassword">Contraseña:</label>
        <input type="password" id="registerPassword" name="registerPassword" required><br><br>
    
        <input type="submit" value="Registrarse">
    </form>
    <script src="/public/js/script.js"></script>
</body>
</html>
